$header-height: 54px;
$sidebar-width: 300px;

/* Text color */

$text_dark: #3c3c3d;
$text_normal: #787878;
$text_light: #a3a7ac;


/* Links */

$link: #4A86C5;
$link_hovered: #2573c5;
$link_hovered_black: #3a3a3a;
$link_visited: #4a4ac5;

$link_title: #515151;


/* Bg */

$page-bg-color: #F6F1E2;


/* Form */

$input-border-color: #d9dada;
$input-border-color_hover: #c2c2c2;
$input-border-color_focus: #98b2e1;